body {
    background: whitesmoke;
    color: #444;
    font-family: Geneva;
    text-align: center;
}

.password {
    font-family: Helvetica;
    font-size: 150%;
    font-weight: bold;
    color: whitesmoke;
    background: darkblue;
    padding: 12px;
    display: inline-block;
    border-radius: 10px;
}

.error {
    color:red;
}

.button {
    background: black;
    border: none;
    color: white;
    padding: 6px 10px;
    font-size: 100%;
    border-radius: 10px;
}
